<%- include('../ejs/header', {title: 'searchPage'}) %>
<div class="panel panel-default">
    <div class="panel-heading">日志搜索</div>
    <div class="panel-body">
        <div class="form-group has-feedback">
                <div class="panel-body">
                    <label class="col-sm-2 control-label">搜索关键词 :</label>

                    <div class="col-sm-8">
                        <input type="text" id="searchText" class="form-control" name="searchKey"/>
                    </div>
                </div>
                <center>
                    <button type="submit" id="searchBtn" class="btn btn-primary" style="width: 170px;">提交</button>
                </center>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">搜索结果</div>
            <pre class="panel-body" id="searchResult"></pre>
        </div>
    </div>
</div>
<%- include('../ejs/footer/', {ctrl: 'search'}) %>

